[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
eventlet = "==0.31.0"
gunicorn = "*"
Flask-Login = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
sqlalchemy = "*"
flask-socketio = "*"

[requires]
python_version = "3"
