[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
Flask-Login = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
sqlalchemy = "*"
flask-socketio = "*"
eventlet = "==0.30.2"
alembic = "*"
bidict = "*"
click = "*"
dnspython = "*"
flask = "*"
greenlet = "*"
itsdangerous = "*"
jinja2 = "*"
mako = "*"
markupsafe = "*"
monotonic = "*"
python-dateutil = "*"
python-editor = "*"
python-engineio = "*"
python-socketio = "*"
six = "*"
werkzeug = "*"

[requires]
python_version = "3"
