<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script type="module" src="{{ url_for('static', filename='default/components/hero-stats.js')}}"></script>
  <script src="{{ url_for('static', filename='default/node_modules/socket.io-client/dist/socket.io.js')}}"></script>
</head>
<body>

<hero-stats 
  id="syndrael" 
  hero_name="Syndrael" 
  max_stamina=4
  max_wounds=16
  image_src="https://vignette.wikia.nocookie.net/descent2e/images/1/11/Syndrael.png/revision/latest/scale-to-width-down/200?cb=20150428132149"></hero-stats>
<hero-stats 
  id="avric" 
  hero_name="Avric" 
  max_stamina=4
  max_wounds=12
  image_src="https://vignette.wikia.nocookie.net/descent2e/images/f/fe/AvricAlbright.png/revision/latest/scale-to-width-down/200?cb=20150428132149"></hero-stats>
<hero-stats 
  id="jain" 
  hero_name="Jain" 
  max_stamina=5
  max_wounds=9
  image_src="https://vignette.wikia.nocookie.net/descent2e/images/d/d7/JainFairwood.png/revision/latest/scale-to-width-down/200?cb=20150428132150"></hero-stats>

<div id="change_log"></div>

<script type="text/javascript" charset="utf-8">
  var protocol = window.location.protocol;
  var socket = io.connect(protocol + '//' + document.domain + ':' + location.port);

  document.querySelectorAll('hero-stats')
      .forEach(input => input.addEventListener('hero_state_changed',
        pass_state_change_to_server));
  document.querySelectorAll('hero-stats')
      .forEach(input => input.addEventListener('change_in_value_detected',
        change_in_value_detected_callback));

  function pass_state_change_to_server(e) 
  {
    socket.emit('hero_state_changed_message_to_server', {
      data: e.detail
    })
  }

  function change_in_value_detected_callback(e) {
    var d = new Date();
    var n = d.toLocaleTimeString();
    var message = n + " : " + e.detail.hero_id + " " + e.detail.stat + " changed from " +
      e.detail.old_value + " to " + e.detail.new_value;

    var change_log = document.getElementById("change_log");
    var para = document.createElement("p");
    para.innerText = message;
    change_log.prepend(para); 
  }

  socket.on('hero_state_changed_from_server',
    function(msg) {
      var hero = document.getElementById(msg.data.hero_id);
      hero.set_stamina(msg.data.stamina);
      hero.set_wounds(msg.data.wounds);
    });

  // Request saved state from the server
  setTimeout(function() {
    socket.emit('request_saved_state', {
        data: 'I want some data!'
    });}, 
    1000);

  // Restore saved state
  socket.on('saved_state_of_heroes', 
    function(msg) {
      Object.keys(msg).forEach(function(key) {
          var message = msg[key].data;
          var hero = document.getElementById(message.hero_id);
          hero.set_stamina(message.stamina);
          hero.set_wounds(message.wounds);
      });
    });

</script>

</body>
</html>
